<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'journal_center', :plugin => 'redmine_journal_center' %>
<% end %>

<h3>My VODs</h3>

<ul class="vods">
<% User.current.projects.each do |p| %>
  <li>
    <%= link_to p.name, :controller => 'journal_notes', :action => 'index', :project_id => p %>
  </li>
<% end %>
</ul>
