
.not-read {
  font-weight: bold;
}

.important, .important a {
  color: red;
}

.vods td.assigned_to, .vods td.author {
  min-width: 90px;
}
td.journal_subject {
  white-space:normal;
}

ul.vods {
  padding-left: 0;
}
ul.vods li {
  list-style-type: none;
}